:focus-visible {
    outline: 0;
}

.w-inherit {
    width: inherit;
}

.animate-2-times {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .minified-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #F5E6FE #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .minified-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }

  .minified-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .minified-scrollbar::-webkit-scrollbar-thumb {
    background-color: #F5E6FE;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.homeSlide {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 280px !important;
        height: 420px !important;
        margin: 0 30px !important;
    
        img {
            display: block;
            width: 100% !important;
        }
    
        .swiper-slide-shadow-left,
        .swiper-slide-shadow-right {
            background-image: none !important;
        }
    }
}

.regSlide {
    .swiper-pagination {
        bottom: 40px !important;
        z-index: 99999 !important;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #fff;
            opacity: 1;
            margin: 0 3px !important;

            &.swiper-pagination-bullet-active {
                background: #DEA702;
            }
        }
    }
}

.promoSlide {
    position: relative;
    
    .swiper-pagination {
        bottom: 7px !important;
        z-index: 99999 !important;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #707070;
            opacity: 1;
            margin: 0 3px !important;

            &.swiper-pagination-bullet-active {
                background: #DEA702;
            }
        }
    }
}

.react-tabs__tab--selected {
        border-color: transparent !important;
    }

.shop-tab {
    .react-tabs__tab--selected {
        background: #6219B4 !important;
        color: #fff !important;
    }
}

.categ-tab {
    .react-tabs__tab--selected div {
        background: #F5E6FE !important;
    }
}

.product-slide-wrapper {
    .carousel-slider {
        border-radius: 0.5rem;
    }

    .thumbs-wrapper {
        margin: 30px 0 !important;

        .thumb {
            padding: 0;
            border: 0;
            margin-right: 24px;

            &:hover,
            &:focus {
                border: 0;

                img {
                    border: 3px solid #6219B4;
                }
            }

            img {
                border: 3px solid transparent;
                display: block !important;
            }

            &.selected {
                border: 0;

                img {
                    border: 3px solid #6219B4;
                    border-radius: 0.5rem;
                }
            }
        }

        .control-arrow {
            &:before {
                border-right-color: #000 !important;
            }
        }
    }
}